@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

@import "tailwindcss";

@theme{
    --font-montserrat: "Montserrat", sans-serif;
    --font-sriracha: Sriracha, sans-serif;
    --font-poppins: Poppins, sans-serif;
    --font-brasil: "Monsieur La Doulaise", cursive;

    --color-header: #2F0F4E;
    --color-marketing-fundo: #2C0F39;
    --color-marketing-fonte: #E48E16;
    --color-marketing-fundoBotao: #340C43;
    --color-sobre-fundo: #F6F9F5;
    --color-ceo-fonte: #E48E16;
}
